
html
	head
		title Monk
		link(href='hero.css' rel='stylesheet')
		link(href='https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap' rel='stylesheet')
		link(href='https://api.fontshare.com/v2/css?f[]=general-sans@500,300,600,400&display=swap' rel='stylesheet')
	body
		section.top
			.title Startup Website Building 
				.Contact Contact Us
			.nav Unleashing Startup Success Online Where Your Ideas Convert into 💸Profit 🤑

		section.second
